@model IEnumerable<GestionScolarité.Models.Note>

@{
    ViewBag.Title = "Note";
}

<h2>Note : </h2>
<table class="table table-striped table-bordered">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
        </tr>
    }

</table>
