<div class="jumbotron" style="background-image: url('@Url.Content("~/Content/images/school.jpg")'); background-size: cover; height: 600px;">
    <div class="container">
        <h1 class="display-4 text-light">Bienvenue à ESISA</h1>
        <p class="lead text-light">L'Ecole Supérieure d'Ingénierie En Sciences Appliquées.</p>
        <hr class="my-4">
        <p class="text-light">L'Ingénierie informatique s'impose de plus en plus aux entreprises comme une technologie incontournable. Concevoir et mettre en œuvre des systèmes informatiques, organiser et exploiter un service informatique, etc. un métier à multiples facettes de l'ingénieur ESISA.</p>
        <a class="btn btn-primary btn-lg" href="https://esisa.ac.ma/" role="button">En savoir plus &raquo;</a>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">A propos de nous</h2>
            <p class="text-justify">L'Ecole Supérieure d'ingénierie en Sciences Appliquées est une école supérieure, fondée par un professionnel de l'informatique (Docteur, Professeur Universitaire, Ingénieur, PDG, Teneur du prix Sadi Carnot 1991), qui répond aux besoins du marché de travail de la région et de son développement. L'Ingénierie informatique s'impose de plus en plus aux entreprises comme une technologie incontournable. Concevoir et mettre en œuvre des systèmes informatiques, organiser et exploiter un service informatique, etc. un métier à multiples facettes de l'ingénieur ESISA.</p>
        </div>
    </div>
</div>