@{
    ViewBag.Title = "A propos de l'ESISA";
}
<h2>@ViewBag.Title:</h2>

<p>
    L'Ingénierie informatique s'impose de plus en plus aux entreprises comme une technologie incontournable.

    Concevoir et mettre en œuvre des systèmes informatiques, organiser et exploiter un service informatique, etc. un métier à multiples facettes de l'ingénieur ESISA.

    L'Ecole Supérieure d'ingénierie en Sciences Appliquées est une école supérieure, fondée par un professionnel de l'informatique (Docteur, Professeur Universitaire, Ingénieur, PDG, Teneur du prix Sadi Carnot 1991), qui répond aux besoins du marché de travail de la région et de son développement.

    L'Ingénierie informatique s'impose de plus en plus aux entreprises comme une technologie incontournable.

    Concevoir et mettre en œuvre des systèmes informatiques, organiser et exploiter un service informatique, etc. un métier à multiples facettes de l'ingénieur ESISA.

    L'Ecole Supérieure d'ingénierie en Sciences Appliquées est une école supérieure, fondée par un professionnel de l'informatique (Docteur, Professeur Universitaire, Ingénieur, PDG, Teneur du prix Sadi Carnot 1991), qui répond aux besoins du marché de travail de la région et de son développement.
</p>
