@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    29 bis Av Ibn Khatib Route d'Immouzzer.<br />
    Fes, Maroc<br />
    <abbr title="Phone">Phone:</abbr>
    + 212 (0)5 35 65 70 95<br />
    <abbr title="FAX">FAX:</abbr>
    + 212 (0)5 35 65 97 90<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Amjahidmohamedamin@gmail.com">Amjahidmohamedamin@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Amjahidmohamedamin@gmail.com">Amjahidmohamedamin@gmail.com</a>
</address>