@model IEnumerable<GestionScolarité.Models.Note>

@{
    ViewBag.Title = "AfficherNoteD";
}
@{
    int idEtudiant = int.Parse(Request.QueryString["idEt"]);
    int idMatiere = int.Parse(Request.QueryString["idMatiere"]);

    var note = Model.FirstOrDefault(n => n.IdEtudiant == idEtudiant && n.IdMatiere == idMatiere);
}

<h2>Note : </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marque)
        </th>
        <th></th>
    </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => note.Marque)
            </td>
        </tr>

</table>
